<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	
    <dict>
        <key>character</key>
        <string>合縁奇縁</string>
        <key>reading</key>
        <string>あいえんきえん</string>
        <key>meaning</key>
        <string>人と人との縁は不思議であること。</string>
    </dict>
    
    <dict>
        <key>character</key>
        <string>愛別離苦</string>
        <key>reading</key>
        <string>あいべつりく</string>
        <key>meaning</key>
        <string>愛するものと別れる苦しみのこと。</string>
    </dict>
    
    <dict>
        <key>character</key>
        <string>曖昧模糊</string>
        <key>reading</key>
        <string>あいまいもこ</string>
        <key>meaning</key>
        <string>はっきりせず不明瞭な様子。</string>
    </dict>
    
    <dict>
        <key>character</key>
        <string>青息吐息</string>
        <key>reading</key>
        <string>あおいきといき</string>
        <key>meaning</key>
        <string>苦しい時に発する元気のないため息のこと。</string>
    </dict>
    
    <dict>
        <key>character</key>
        <string>悪口雑言</string>
        <key>reading</key>
        <string>あっこうぞうごん</string>
        <key>meaning</key>
        <string>さんざん罵ること。</string>
    </dict>
    
    <dict>
        <key>character</key>
        <string>暗中模索</string>
        <key>reading</key>
        <string>あんちゅうもさく</string>
        <key>meaning</key>
        <string>手がかりがないまま、あれこれ試してみること。</string>
    </dict>
    
    <dict>
        <key>character</key>
        <string>安分守己</string>
        <key>reading</key>
        <string>あんぶんしゅき</string>
        <key>meaning</key>
        <string>自分の身の程をわきまえて生き、高望みしないこと。</string>
    </dict>
    
    <dict>
		<key>character</key>
		<string>異口同音</string>
		<key>reading</key>
		<string>いくどうおん</string>
		<key>meaning</key>
		<string>みんなの意見が一致すること。多くの人が同じことを言うこと。</string>
	</dict>
	
    <dict>
        <key>character</key>
        <string>異国情緒</string>
        <key>reading</key>
        <string>いこくじょうちょ</string>
        <key>meaning</key>
        <string>自分の国とは違う雰囲気や趣のこと。</string>
    </dict>
    
    <dict>
        <key>character</key>
        <string>為虎添翼</string>
        <key>reading</key>
        <string>いこてんよく</string>
        <key>meaning</key>
        <string>強いものがさらに強くなること。</string>
    </dict>
    
    <dict>
        <key>character</key>
        <string>石部金吉</string>
        <key>reading</key>
        <string>いしべきんきち</string>
        <key>meaning</key>
        <string>物堅く、融通がきかない人のこと。</string>
    </dict>
    
    <dict>
        <key>character</key>
        <string>以心伝心</string>
        <key>reading</key>
        <string>いしんでんしん</string>
        <key>meaning</key>
        <string>言葉や文字で伝えなくとも、お互いに気持ちが通じ合っていること。</string>
    </dict>
    
    <dict>
        <key>character</key>
        <string>一意専心</string>
        <key>reading</key>
        <string>いちいせんしん</string>
        <key>meaning</key>
        <string>ひたすら一つのことに集中すること。</string>
    </dict>
    
    <dict>
        <key>character</key>
        <string>一言居士</string>
        <key>reading</key>
        <string>いちげんこじ</string>
        <key>meaning</key>
        <string>何事にも必ずなにか一言口出しせねば気が済まない人のこと。</string>
    </dict>
    
    <dict>
        <key>character</key>
        <string>一期一会</string>
        <key>reading</key>
        <string>いちごいちえ</string>
        <key>meaning</key>
        <string>一生に一度の出会いであると考え、誠意を尽くす心構え。</string>
    </dict>
    
    <dict>
		<key>character</key>
		<string>一日千秋</string>
		<key>reading</key>
		<string>いちじつせんしゅう</string>
		<key>meaning</key>
		<string>とても待ち遠しいこと。</string>
	</dict>
	
    <dict>
        <key>character</key>
        <string>一念発起</string>
        <key>reading</key>
        <string>いちねんほっき</string>
        <key>meaning</key>
        <string>何かを成し遂げようと決意すること。</string>
    </dict>
    
    <dict>
        <key>character</key>
        <string>一望千里</string>
        <key>reading</key>
        <string>いちぼうせんり</string>
        <key>meaning</key>
        <string>広大な眺めを一目で見渡せること。</string>
    </dict>
    
    <dict>
        <key>character</key>
        <string>一蓮托生</string>
        <key>reading</key>
        <string>いちれんたくしょう</string>
        <key>meaning</key>
        <string>仲間として運命や行動をともにすること。</string>
    </dict>
    
    <dict>
        <key>character</key>
        <string>一騎当千</string>
        <key>reading</key>
        <string>いっきとうせん</string>
        <key>meaning</key>
        <string>人並み外れた能力や経験のあること。</string>
    </dict>
    
    <dict>
        <key>character</key>
        <string>一刻千金</string>
        <key>reading</key>
        <string>いっこくせんきん</string>
        <key>meaning</key>
        <string>楽しい時間は過ぎ去りやすいこと。わずかな時間が大切なこと。</string>
    </dict>
    
    <dict>
        <key>character</key>
        <string>一心不乱</string>
        <key>reading</key>
        <string>いっしんふらん</string>
        <key>meaning</key>
        <string>一つのことに集中している様子。</string>
    </dict>
    
    <dict>
        <key>character</key>
        <string>一斉風靡</string>
        <key>reading</key>
        <string>いっせいふうび</string>
        <key>meaning</key>
        <string>ある時代に非常に流行すること。</string>
    </dict>
    
    <dict>
        <key>character</key>
        <string>意味深長</string>
        <key>reading</key>
        <string>いみしんちょう</string>
        <key>meaning</key>
        <string>表現に非常に深い意味があり、趣がある様子。</string>
    </dict>
    
    <dict>
        <key>character</key>
        <string>右往左往</string>
        <key>reading</key>
        <string>うおうさおう</string>
        <key>meaning</key>
        <string>混乱し、行ったり来たりする様子。</string>
    </dict>
    
    <dict>
        <key>character</key>
        <string>雨奇晴好</string>
        <key>reading</key>
        <string>うきせいこう</string>
        <key>meaning</key>
        <string>雨でも晴れでも景色が良いこと。</string>
    </dict>
    
    <dict>
        <key>character</key>
        <string>海千山千</string>
        <key>reading</key>
        <string>うみせんやません</string>
        <key>meaning</key>
        <string>経験が豊富で抜け目がないこと。</string>
    </dict>
    
    <dict>
        <key>character</key>
        <string>雲外蒼天</string>
        <key>reading</key>
        <string>うんがいそうてん</string>
        <key>meaning</key>
        <string>困難を乗り越え、努力し克服すればよいことが待っているということ。</string>
    </dict>
    
    <dict>
        <key>character</key>
        <string>雲散霧散</string>
        <key>reading</key>
        <string>うんさんむしょう</string>
        <key>meaning</key>
        <string>あとかたもなく消えてしまうこと。</string>
    </dict>
    
    <dict>
        <key>character</key>
        <string>雲蒸竜変</string>
        <key>reading</key>
        <string>うんじょうりゅうへん</string>
        <key>meaning</key>
        <string>優れた人物が時流に乗じて大活躍すること。</string>
    </dict>
    
    <dict>
        <key>character</key>
        <string>雲中白鶴</string>
        <key>reading</key>
        <string>うんちゅうはっかく</string>
        <key>meaning</key>
        <string>心が清らかで気高く立派な人。</string>
    </dict>
    
    <dict>
        <key>character</key>
        <string>栄枯盛衰</string>
        <key>reading</key>
        <string>えいこせいすい</string>
        <key>meaning</key>
        <string>栄えたり衰えたりすること。</string>
    </dict>
    
    <dict>
		<key>character</key>
		<string>傍目八目</string>
		<key>reading</key>
		<string>おかめはちもく</string>
		<key>meaning</key>
		<string>第三者は正しく状況を判断しやすいこと。</string>
	</dict>
    
    <dict>
        <key>character</key>
        <string>温厚篤実</string>
        <key>reading</key>
        <string>おんこうとくじつ</string>
        <key>meaning</key>
        <string>情が厚く、穏やかで優しく、誠実な人物のこと。</string>
    </dict>
    
    <dict>
        <key>character</key>
        <string>温故知新</string>
        <key>reading</key>
        <string>おんこちしん</string>
        <key>meaning</key>
        <string>古いものを研究し、新しい知識や見解を得ること。</string>
    </dict>
    
</array>
</plist>
